
.normal {
	padding: 20px;
	.dot{
		color: red;
		font-size: 20px;
	}
    .font{
        font-weight: bold;
    }
}
.formbox{
	width: 400px;
}
.pad{
	padding: 8px;
}

.name{
    span:nth-child(1){
        width: 150px;
        display: inline-block;
    }
    span:nth-child(2){
        width: 100px;
        display: inline-block;
    }
}

.box{
    height: 500px;
}