<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <link  href="/js/cropper.css" rel="stylesheet">
  <link rel="stylesheet" href="./index.css" />
  <script src="/js/cropper.js"></script>
  <!-- <script type="text/javascript" src="/js/jquery-1.9.1.js"></script> -->
  <style type="text/css">
      /*.overs{
        width: 100px;
        height: 100px;
        background-color: red;
        animation:mymove 5s infinite;
      }
      @keyframes mymove {
        from { transform: translateX(0px) }
        to { transform: translateX(200px) }
      }*/
      .cropper-view-box,
      .cropper-face {
        border-radius: 50%;
      }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
